name_prefix       = "e2e-staging"
environment       = "dev"
address_space     = ["10.20.0.0/16"]
app_subnet_prefix = "10.20.1.0/24"
plan_sku          = "S1"
always_on         = true
log_retention_days = 30
tags = { project = "devops-e2e-terraform-azure" }
