name_prefix       = "e2e-prod"
environment       = "dev"
address_space     = ["10.30.0.0/16"]
app_subnet_prefix = "10.30.1.0/24"
plan_sku          = "P1v3"
always_on         = false
log_retention_days = 30
tags = { project = "devops-e2e-terraform-azure" }
